body {
  padding:0;
  margin:0;
  background-color: #4A1D78;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: 1.4em;
}

.headline {
  font-size:2.5em;
  margin-left:20px;
  text-align: left;
}

#logo {
  position: absolute;
  top: 20px;
  right: 20px;
}

.headline .balance {
  font-weight: bold;
}

.alert {
  margin-top:20px;
  padding:12px;
  background-color: #B00020;
  border-radius: 5px;
  border: 1px dotted #fff;
  font-weight: normal;
}

.budget {
  margin-left:20px;
  display: inline-block;
  width: 30%;
}

.budget .value {
  font-weight: bold;
}

.bottom {
  margin-left: 20px;
  color: #bb86fc;
  padding:8px;
  padding-top:20px;
}

.bottom ul {
  list-style-type: none;
  padding-left: 10px;
}

.bottom #about {
  font-size:0.8em;
  color: #8f5eca;
}

#help {
  display:none;
  line-height: 1.2em;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  overflow-y: auto;
  background-color: #9871d0;
  border-radius: 20px;
  padding: 25px;
  color:#2a0b48;
}

#help .header {
  text-align: center;
  position:relative;
}

#help .closer {
  font-size: 2em;
  position:absolute;
  top:20px;
  right:20px;
  color:#fff;
}

/* Wiggles */

.top {
  background-color: #6200ee;
  color: #fff;
  position: relative;
  padding: 8px;
  padding-top:40px;
  padding-bottom:70px;
  background-image: url("graphics/curve_1.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.middle {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom:50px;
  background-color: #bb86fc;
  color: #6200ee;
  position: relative;
  background-image: url("graphics/curve_2.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}